body{
    background-color: bisque;
}

.screen{
    border:solid black;
    height:22vh;
    margin:2em;
    width:40%;
}
.screenPic{
    width:100%;
    height:100%;
}
.fDogImg{
    width:100%;
    height:100%;
}
.mainContainer{
    display:flex;
    justify-content: space-around;
}
.tempContainer{
    padding:1em;
    width:40%;
    font-size:52px;
    padding:1em;

}
.paraContainer{
     padding:1em;
    margin:1em;
    height:32vh;
}

#Hot{
    color: yellow;
    background: black;
}

#Rain{
    color: lightblue;
    background-color: black;
}

#Snow{
    color: white;
    background-color: black;
}

#Fall{
    color: orange;
    background-color: black;
}

#Cold{
    color: pink;
    background-color: black;
}

